# ===== Server Proc =====
RUST_LOG=debug
LIMIT_PART=1
BUFFER_CAPACITY=64
SLEEPING_TIME=200

# ===== PostgreSQL =====
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=cdbs

# ===== S3 Storage =====
S3_APPLICATION_KEY_ID=your_key_id
S3_APPLICATION_KEY=your_secret_key
S3_ACCESS_EXPIRATION_AT=2030-01-01T00:00:00
S3_BUCKET=your_bucket
S3_REGION=your_region
S3_ENDPOINT=https://your-s3-endpoint
S3_EXP_PRESIGNED_URL=800